<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Login
      </div>
      <div class="panel-body">
        <form ng-submit="auth.login()">
          <div class="form-group">
            <label for="Email">Email Address</label>
            <input type="email" class="form-control" ng-model="auth.login.user.email">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" ng-model="auth.login.user.pwd">
          </div>
          <button type="submit" class="btn btn-defualt">Login</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Register
      </div>
      <div class="panel-body">
        <form name="register" ng-submit="auth.register()">
          <div class="form-group">
            <label for="Email">Email Address</label>
            <input type="email" class="form-control" ng-model="auth.user.email">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="pwd" ng-model="auth.user.pwd">
          </div>
          <div class="form-group">
            <label for="Password">Confirm Password</label>
            <input type="password" class="form-control" compare-to="auth.user.pwd" name="pwdConfirm" ng-model="pwdConfirm">
          </div>
          <span ng-show="register.pwdConfirm.$invalid && register.pwdConfirm.$dirty">Passwords do not match.</span>
          <button ng-disabled="register.pwdConfirm.$invalid" type="submit" class="btn btn-defualt">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
